{% extends "base_template.html" %}

{% block body %}

  <h1>{{object.id}}</h1>

  <dl class='transaction'>
    <dt>Created</dt><dd>{{object.created}}</dd>
    <dt>Description</dt><dd>{{object.description}}</dd>
    <dt>amount</dt><dd>{{object.amount}}</dd>
    <dt>currency</dt><dd>{{object.currency}}</dd>
    <dt>merchant</dt>
    <dd>
      {% if object.merchant %}
      <a href='{% url "merchant" object.merchant.id %}'>
        {{object.merchant}}
      </a>
      {% endif %}
    </dd>
    <dt>notes</dt><dd>{{object.notes}}</dd>
    <dt>category</dt><dd>{{object.category}}</dd>
    <dt>settled</dt><dd>{{object.settled}}</dd>
    <dt>local_amount</dt><dd>{{object.local_amount}}</dd>
    <dt>local_currency</dt><dd>{{object.local_currency}}</dd>
    <dt>updated</dt><dd>{{object.updated}}</dd>
    {% if object.declined %}
      <dt>declined</dt><dd>{{object.declined_reason}}</dd>
    {% endif %}
    <dt>card_check</dt><dd>{{object.card_check}}</dd>
    <dt>scheme</dt><dd>{{object.scheme}}</dd>
    <dt>include_in_spending</dt><dd>{{object.include_in_spending}}</dd>
    <dt>user_note</dt>
    <dd>
      <form method='post' action='{% url "transaction_note" object.id %}'>
        {% csrf_token %}
        <input type='text' name='user_note'
          value='{{object.user_note|default_if_none:""}}'>
        <input type='submit'>
      </form>
    </dd>
    <dt>user_tags</dt>
    <dd>
      <form method='post' action='{% url "transaction_tags" object.id %}'>
        {% csrf_token %}
        <input type='text' name='user_tags' value='{{object.user_tags.all|join:" "}}'>
        <input type='submit'>
      </form>
    </dd>
    <dt>user_reviewed</dt>
    <dd>
      <form method='post' action='{% url "transaction_reviewed" object.id %}'>
        {% csrf_token %}
        <input type="checkbox" name="user_reviewed"
          {% if object.user_reviewed %}checked{% endif %}
        >
        <input type='submit'>
      </form>
    </dt>
    {% if object.merchant %}
      <dt>merchant_tags</dt>
      <dd>
        <form method='post' action='{% url "merchant_tags" object.merchant.id %}'>
          {% csrf_token %}
          <input type='hidden' name='success' value='{% url "transaction" object.id %}'>
          <input type='text' name='user_tags' value='{{object.merchant.user_tags.all|join:" "}}'>
          <input type='submit'>
        </form>
      </dd>
    {% endif %}
  </dl>

{% endblock body %}