{% extends "base_template.html" %}
{% load currency %}

{% block body %}
  <h1>YEAR/MONTH</h1>

  <div id='transactions_summary'>
    <h2>Summary</h2>

    <dl>
      <dt>Income</dt>
      <dd class='income'>£{{transactions_summary.total_in|currency}}</dd>
      <dt>Total outgoings</dt>
      <dd class='outgoings'>£{{transactions_summary.total_out|currency}}</dd>

      {% for category,value in transactions_summary.categorised.items %}
        <dt>Category {{category}}</dt>
        <dd>£{{value|currency}}</dd>
      {% endfor %}

      {% for tag,value in transactions_summary.tagged.items %}
        <dt>Tagged {{tag}}</dt>
        <dd>£{{value|currency}}</dd>
      {% endfor %}


      <dt>{{transactions_summary.declined}} declined transactions</dt>
    </dl>
  </div>

  <p>
    {% if previous_month %}
      <a href='{% url "transactions_month" previous_month|date:"Y" previous_month|date:"m" %}'>
        Previous Month: {{ previous_month|date:"F Y" }}
      </a><br>
    {% endif %}
    {% if next_month %}
      <a href='{% url "transactions_month" next_month|date:"Y" next_month|date:"m" %}'>
        Next Month: {{ next_month|date:"F Y" }}
      </a>
    {% endif %}
  </p>

  <div class='controls'>
  </div>

  <ul class='transactions'>
    {% for object in object_list %}
      <li class='{% if object.declined %}declined{% endif %} {% if not object.user_reviewed %}unreviewed{% endif %}'>
        <a href='{{object.get_absolute_url}}'>
          {{object}}
        </a>
        <strong class='tags'>
          {% for tag in object.tags %}
            {{tag}}
          {% endfor %}
        </strong>
        {% if object.user_note %}
          <em>{{object.user_note}}</em>
        {% endif %}
        <br>
        <form method='post' action='{% url "transaction_reviewed" object.id %}' data-ajaxable='true'>
          {% csrf_token %}
          <input type='hidden' name='success' value='{% url "transactions_month" month|date:"Y" month|date:"m" %}'>
          <label>Reviewed:
            <input type="checkbox" name="user_reviewed"
              {% if object.user_reviewed %}checked{% endif %}
            >
          </label>
          <input type='submit'>
        </form>
      </li>
    {% endfor %}
  </ul>

{% endblock body %}

{% block page_javascript %}
  <script>
    $(function() {
      // toggle declined transactions visibility; keeps state in a cookie
      var cookie = getCookie('transactions');
      var $declined = $('<button>Hide declined transactions</button>');

      if (cookie == 'hide') {
        $('ul.transactions li.declined').hide();
        $declined.text('Show declined transactions');
      }

      $('div.controls').append($declined);

      $declined.click(function() {
        if (cookie == 'hide') {
          $('ul.transactions li.declined').slideToggle();
          setCookie('transactions', 'show', 31);
          cookie = 'show';
          $declined.text('Hide declined transactions');
        }
        else {
          $('ul.transactions li.declined').slideToggle()
          setCookie('transactions', 'hide', 31);
          cookie = 'hide';
          $declined.text('Show declined transactions');
      }
      });

      // toggle reviewed transactions visibility; transient effect
      var $reviewed = $('<button>Hide reviewed transactions</button>');
      $reviewed.on('click', function() {
        $('ul.transactions li:not(.unreviewed)').hide();
      });
      $('div.controls').append($reviewed);

      // submit reviewed state changes with ajax
      $('ul.transactions form[data-ajaxable]').each(function() {
        var $this = $(this);
        var $input = $('input[type=checkbox]', $this);
        $input.on(
          'change',
          function(){
            $this.submit()
          }
        );
        $('[type=submit]', $this).hide();
        $this.use_ajax_submit({
          'success': function() {
            $this.parent().toggleClass('unreviewed');
          }
        });
      });
    });

  </script>

{% endblock page_javascript %}
